<?xml version="1.0" encoding="utf-8"?>
<charset>
  <FileVersion>2</FileVersion>
  <BK1>07</BK1>
  <BK2>77</BK2>
  <Col3>37</Col3>
  <Reversed>False</Reversed>
  <Multicolour>False</Multicolour>
  <Uppercase>True</Uppercase>
  <character>
    <charcode>0</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>5</data>
      <data>10</data>
      <data>16</data>
      <data>96</data>
      <data>128</data>
    </chardata>
  </character>
  <character>
    <charcode>1</charcode>
    <chardata>
      <data>1</data>
      <data>5</data>
      <data>8</data>
      <data>144</data>
      <data>96</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>2</charcode>
    <chardata>
      <data>128</data>
      <data>64</data>
      <data>64</data>
      <data>80</data>
      <data>105</data>
      <data>6</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>3</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>132</data>
      <data>74</data>
      <data>49</data>
      <data>1</data>
    </chardata>
  </character>
  <character>
    <charcode>4</charcode>
    <chardata>
      <data>128</data>
      <data>64</data>
      <data>48</data>
      <data>8</data>
      <data>4</data>
      <data>4</data>
      <data>6</data>
      <data>1</data>
    </chardata>
  </character>
  <character>
    <charcode>5</charcode>
    <chardata>
      <data>1</data>
      <data>1</data>
      <data>2</data>
      <data>10</data>
      <data>20</data>
      <data>16</data>
      <data>32</data>
      <data>192</data>
    </chardata>
  </character>
  <character>
    <charcode>6</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>8</data>
      <data>20</data>
      <data>36</data>
      <data>66</data>
      <data>65</data>
      <data>129</data>
    </chardata>
  </character>
  <character>
    <charcode>7</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>4</data>
      <data>42</data>
      <data>209</data>
      <data>129</data>
    </chardata>
  </character>
  <character>
    <charcode>8</charcode>
    <chardata>
      <data>128</data>
      <data>64</data>
      <data>64</data>
      <data>32</data>
      <data>16</data>
      <data>16</data>
      <data>8</data>
      <data>8</data>
    </chardata>
  </character>
  <character>
    <charcode>9</charcode>
    <chardata>
      <data>1</data>
      <data>1</data>
      <data>2</data>
      <data>4</data>
      <data>2</data>
      <data>2</data>
      <data>4</data>
      <data>8</data>
    </chardata>
  </character>
  <character>
    <charcode>10</charcode>
    <chardata>
      <data>4</data>
      <data>2</data>
      <data>2</data>
      <data>4</data>
      <data>2</data>
      <data>2</data>
      <data>1</data>
      <data>1</data>
    </chardata>
  </character>
  <character>
    <charcode>11</charcode>
    <chardata>
      <data>8</data>
      <data>16</data>
      <data>32</data>
      <data>32</data>
      <data>32</data>
      <data>64</data>
      <data>64</data>
      <data>128</data>
    </chardata>
  </character>
  <character>
    <charcode>12</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>255</data>
    </chardata>
  </character>
</charset>
